.Rslider{
  display: flex;
  width: 100%;
  height: 100%;

  &:hover {
    scale: 1.05;
  }
  &::-webkit-slider-thumb {
    cursor: pointer;
  }
}
//I will add more styles later bc rn trying to finish all the main stuff
.valueDisplay{
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  padding: 4px 8px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  font-size: 12px;
}

.RslideCon{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  width: 100%;
  gap: 10px;
  box-shadow: 0 2px 4px var(--inverse-background);
}