//everyone should add the global fonts and colors here to keep it clean and organized
// this will be filled as we go.
@use "sass:map" as map;

//don't touch this untill you ask someone about ur idea.
html, body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
p, h1,h2,h3,h4 a{
  color: var(--text);
  overflow-wrap: anywhere;
}
//same here as mentioned above
:root{
  width: 100%;
  height: 100%;
  margin: auto;
  background: var(--background);
}

$themes: (
 light: (
   text: #121517,
   background: #e8eff3,
   primary: #2c566d,
   secondary: #72b5da,
   accent: #208cc5,
   inverse-background:  #0c1317,
 ),
 dark: (
   text: #e8ebed,
   background: #0c1317,
   primary: #92bcd3,
   secondary: #25698d,
   accent: #3aa5df,
   inverse-background:  #e8eff3,
 ),
);

@each $name, $palette in $themes {
  :root[data-theme="#{$name}"] {
    @each $key, $color in $palette {
      --#{$key}: #{$color};
    }
  }
}