@use "sass:map" as map;

.popupBody {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: var(--background);
  border-radius: 20px 100px 20px 100px;
  padding: 15px;
  margin: 10px;
  max-width: 80%;
  width: 100%;
  min-width: 700px;
}
.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.459);
  backdrop-filter: blur(15px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.popupModelHeader{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: var(--background);
  border-radius: 20px 100px 20px 100px;
  padding: 15px;
  width: 100%;
}
.popupModelBody{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: var(--background);
  border-radius: 20px 100px 20px 100px;
  padding: 15px;
}
.popupBoxBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--background);
  border-radius: 12px;
  padding: 5px;
  width: 80%;
}
.popupBoxFooter{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;

  button {
    padding: 5px 10px;
    border-radius: 200px 100px 200px 1000px;
    border: none;
    background-color: var(--accent);
    color: var(--inverse-background);
    font-size: 1rem;
    cursor: pointer;
    &:hover {
      background-color: var(--inverse-background);
      color: var(--background);
      transform: scale(1.1);
      transition: all 0.3s ease-in-out;
    }
  }
}