
.profile {
  background-color: var(--background);
  color: var(--text);
}

section button{
  display: flex;
  background: #3a3a3a;                
  color: #fafafa;                     
  border: 1px solid #363636;          
  border-radius: 8px;                
  padding: 4px 8px;                  
  cursor: pointer;
  transition: background 0.15s, border 0.15s;
  outline: none;
}

section button:hover {
  transform: scale(0.96);
}

section button:active {
  transform: scale(1);
}

.likeCount{
  margin-right: 8px; 
  align-items:'flex-end';
  font-size: .8rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.replyLink{
  margin-left: 6px;
    &:hover {
      cursor: pointer;
      text-decoration: underline;;
  }
}

.galleryGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 1px;
  width: 80vw;
  max-width: 60vw; 
  margin: 0 auto; 
  margin-top: 16px;
}

.galleryImageWrapper{   
  aspect-ratio: 1 / 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; 
}

.galleryImageWrapper img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: contain;
  display: block;
}

.galleryImage {
  transition: transform 0.2s;
  &:hover {
    transform: scale(1.03);
    box-shadow: 0 2px 12px rgba(0,0,0,0.2);
  }
}

.popupOverlay {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

$themes: (
  light: (
    text: #121517,
    background: #e8eff3,
    modal-background: #fff,
  ),
  dark: (
    text: #e8ebed,
    background: #0c1317,
    modal-background: #18222b, 
  ),
);

.popupContent {
  display: flex;
  flex-direction: row;
  gap: 16px;
  background: var(--background);
  border-radius: 12px;
  padding: 24px;
  max-width: 60vw;
  max-height: 80vh;
  width: fit-content;
  text-align: left;
  box-sizing: border-box;
}

.popupContent > * {
  outline: 1px dashed red;
}

.imageWrapper {
  flex: 0 1 auto;
  width: 75vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.popupContent img {
  // height: 100%;
  width: auto; 
  object-fit: cover;
  display: block;
  // max-height: 120%;
  // max-width: 120%;
  aspect-ratio: 1 / 1;
}

// .popupRightSide {
//   display: flex;
//   flex-direction: column;
//   width: 40%;
// }

.mainComment {
  flex: 0 1 auto;
  max-height: 20%;
  font-weight: bold;
  overflow-y: auto;
  // max-width: 40%
}

.commentsSection {
  flex: 0 1 auto;
  overflow-y: auto;
  background: #a1a1a1;
  border-radius: 6px;
  padding: 8px;
  // max-width: 0%;
  margin-bottom: 8px;
  min-height: 45%;
  max-height: 60%;
}

.commentItem {
  margin-bottom: 6px;
}

.commentInfo {
  flex: 0 0 15%;
  margin-top: auto;
}

.popupButtons {
  margin-top: 8px;
  display: flex;
  gap: 8px;
}
