//this is how you use the scss please look at the Layout.tsx since this is connected to that.
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: flex-start;
  background-color: var(--background);
  width: 100%;
}

.navigToggle {
  position: fixed;
  top: 38px;
  left: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 1001;
  color: var(--text);
}
.navigClose {
  position: absolute;
  top: 10px;
  left: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 1002;
  color: var(--text);
}
.sidebar {
  position: fixed;
  top: 20px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--background);
  box-shadow: -2px 0 50px var(--inverse-background);
  border-radius: 10px 1000px 500px 5px;
  padding: 0px 5px 10px 5px;
  margin: 10px 5px 10px 5px;
  height: 90%;
  width: 221px;
  z-index: 1000;
  visibility: hidden;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out, visibility 0s linear 0.3s;
  &.open {
    visibility: visible;
    transform: translateX(0);
    transition: transform 0.5s ease-in-out, visibility 0.3s;
  }
}
.logo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 10px 15px 10px 15px;
  h2 {
    text-align: center;
    font-size: 2rem;
    margin: 0.5rem 0;
    padding: 0 0px 0 0;
  }
}
.theme{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px 10px 15px;
  background-color: var(--inverse-background);
  color: var(--background);
  border-radius: 1000px;
  cursor: pointer;
  margin-top: 10px;
}

.login,
.logout,
.Home,
.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(-inverse-background);
  padding: 15px 20px;
  color: var(-inverse-background);
  border-radius: 100px 1000px 100px 500px;
  width: 100%;
  cursor: pointer;
  margin: 5px;
}
.threadnavigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
  text-align: center;
}
.threadTitle {
  display: flex;
  justify-content: center;
  align-items: stretch;
  padding: 10px 15px;
  background-color: var(--inverse-background);
  color: var(--background);
  border-radius: 1000px;
  margin-bottom: 1rem;
}
.pageNav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  .active {
    background-color: var(--accent);
    color: var(--background);
    font-weight: 700;
  }
}
.loading{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--inverse-background);
  color: var(--background);
  padding: 10px 14px;
  border-radius: 1000px;
  margin: 20px;
  font-size: 1.3rem;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

// dex styling
.authSection {
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    font-size: 0.9rem;
  }
}

.login,
.logout,
.Home,
.profile {
  background-color: var(--inverse-background);
  color: var(--background);
  &:hover {
    background-color: color-mix(in srgb, var(--inverse-background) 75%, transparent);
    scale: 1.08;
  }
  transition: background-color 0.5s ease;
}
.header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 15px;
  background: var(--background);
  margin-bottom: 1rem;
  color: var(--text);
}
.contentToggle{
  display: flex;
  justify-content: center;
  padding: 10px 0;
}
.toggleSwitch input {
  display: none;
}
.switcher {
  position: fixed;
  display: flex;
  top:1%;
  left: 50%;
  transform: translateX(-50%);
  align-items: center;
  justify-content: space-between;
  width: 300px;
  height: 50px;
  background: color-mix(in srgb, var(--background) 25%, transparent);
  backdrop-filter: blur(10px) saturate(360%);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 1px 6px var(--inverse-background);
  border-radius: 1000px 100px 1000px 100px;
  padding: 0 5px;
  cursor: pointer;
  z-index: 1000;
  &:hover {
    background: color-mix(in srgb, var(--inverse-background) 13%, transparent);
    backdrop-filter: blur(10px) saturate(360%);
    box-shadow: 0 1px 6px var(--inverse-background);
    transition: all 0.3s;
  }
}
.changeable {
  flex: 1;
  text-align: center;
  z-index: 1;
  font-size: 20px;
  color: var(--text);
  user-select: none;
  transition: color 0.4s;
}
.toggleSwitch input:checked
 + .switcher .changeable,
.toggleSwitch input:not(:checked)
 + .switcher .changeable {
  color: var(--accent);
  font-weight: 600;
}
.selector {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 150px;
  height: 50px;
  background: var(--inverse-background);
  backdrop-filter: blur(15px) saturate(160%);
  border: 1px solid var(--text);
  box-shadow: 0 1px 6px var(--inverse-background);
  border-radius: 1000px 100px 1000px 100px;
  transition: all 0.4s;
}
.toggleSwitch input:checked + .switcher .selector {
  left: calc(100% - 150px);
}
.avatar {
  position: fixed;
  top: 15px;
  right: 25px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  background: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 3px 5px var(--inverse-background);

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  svg {
    width: 24px;
    height: 24px;
    color: var(--text);
  }
}
