p {
  font-size: 18px;
}

.restaurantContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;
  font-family: 'Franklin Gothic Medium';
}

.flexContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-left: 0px;
  padding-left: 0px;
}

.restaurantLocation {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.restaurantDetails {
  width: 100%;
}

.restaurantTitle{
  display: flex;
  flex-direction: row;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: 10px;
  width: 100%;
}

.restaurantFoodOptions {
  max-width: 400px;
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

 img.mapIcon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 30px;
  max-height: 30px;
  padding-right: 5px;
  border-radius: 30%;
}
.images {
  display: inline-flex;
  border-radius: 10px;
  height: 300px;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  gap: 5px;
  img {
    object-fit: contain;
    border-radius: 10px;
  }
}

.openingHours {
  font-size: 18px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.openingStatus {
  margin-right: 10px;
}