.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: auto;
  width: 100%;
  background-color: var(--background);
}
.card {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text);
  box-shadow: -3px 8px 20px 0px var(--accent);
  padding: 5px 20px 5px 20px;
  border-radius: 10px;
  margin: 5px 5px 50px 5px;
}
.cardImage{
    img{
    min-width: 500px;
    min-height: 300px;
    border-radius: 10px;
    padding: 5px;
    margin: 2px;
  }
}
.address{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 5px 0 0;
  margin: 0 5px 0 0;
  font-size: 1rem;
}
 img.mapIcon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 30px;
  max-height: 30px;
  padding: 5px 0;
  margin: 5px 0;
  border-radius: 50%;
}
.cardHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5px;
  margin: 5px;
}
.cardBody {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 5px 0;
  margin: 0 0 5px 0;
}
.cardFooter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  margin: 5px;
  .likeIcon{
    color: var(--inverse-background);
    padding: 0 5px;
    font-size: 1.5rem;
    cursor: pointer;
    &:hover {
      color: var(--accent);
      transform: scale(1.1);
    }
    &.liked {
      transform: scale(1.2);
      transition: all 0.2s ease-in-out;
      color: red;
    }
  }
  .commentIcon{
    color: var(--inverse-background);
    padding: 0 5px;
    font-size: 1.5rem;
    cursor: pointer;
    &:hover {
      color: var(--accent);
      transform: scale(1.1);
    }
  }
  .shareIcon{
    color: var(--inverse-background);
    padding: 0 5px;
    font-size: 1.5rem;
    cursor: pointer;
    &:hover {
      color: var(--accent);
      transform: scale(1.1);
    }
  }
}

.post {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  color: var(--text);
  padding: 0px 5px;
  border-radius: 10px;
  margin: 0px 5px;
  h2{
    padding: 0px;
    margin: 0px;
    font-weight: bold;
  }
  h4{
    padding: 5px;
    font-size: 15px;
  }
  p {
    padding: 5px;
    font-size: 1rem;
  }

}
img{
  max-width: 500px;
  max-height: 500px;
}
.textarea{
  width: 100%;
  padding: 15px;
  margin: 10px;
  border-radius: 20px 100px 20px 100px;
  border: 1px solid var(--accent);
  background-color: var(--background);
  color: var(--text);
  font-size: 1.5rem;
  resize: both;
  max-width: 500px;
  max-height: 500px;
  min-width: 300px;
  min-height: 60px;
  overflow: auto;
  box-sizing: border-box;
  &:focus {
    outline: none;
    border-color: var(--accent);
    box-shadow: inset 0px 0px 19px 3px var(--inverse-background);
    &::placeholder {
      color: var(--text);
      opacity: 1;
    }
  }
  &::placeholder {
    opacity: 0.5;
  }
}
.commentListCon {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  overflow-y: auto;
  gap: 0.5rem;
  margin-bottom: 1rem;
  max-height: 70vh;
  box-shadow: inset 0px 0px 20px 13px var(--inverse-background);
  border-radius: 20px;
  padding: 30px;
  margin: 10px;
  background-color: var(--background);
  min-width: 300px;
}
.popupBody {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: var(--background);
  border-radius: 20px 100px 20px 100px;
  padding: 15px;
  margin: 10px;
  max-width: 80%;
  width: 100%;
  min-width: 700px;
}
.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.459);
  backdrop-filter: blur(15px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.popupModelHeader{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: var(--background);
  border-radius: 20px 100px 20px 100px;
  padding: 15px;
  width: 100%;
}
.popupModelBody{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: var(--background);
  border-radius: 20px 100px 20px 100px;
  padding: 15px;
}
.popupBoxBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--background);
  border-radius: 12px;
  padding: 5px;
  width: 80%;
}
.popupBoxFooter{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;

  button {
    padding: 5px 10px;
    border-radius: 200px 100px 200px 1000px;
    border: none;
    background-color: var(--accent);
    color: var(--inverse-background);
    font-size: 1rem;
    cursor: pointer;
    &:hover {
      background-color: var(--inverse-background);
      color: var(--background);
      transform: scale(1.1);
      transition: all 0.3s ease-in-out;
    }
  }
}

.commentCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--text);
  box-shadow: -3px 8px 20px 0px var(--accent);
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
  margin: 5px 5px 25px 5px;
  max-height: 600px;
  max-width: 80%;
  width: 100%;
}

.commentHeader {
  display: flex;
  margin: 0.5rem;
  font-size: 1.5rem;
  margin: auto;
  width: 100%;
}
.description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: auto;
  width: 100%;
  font-size: 1.25rem;
}
.commentimgs {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 10px;
  gap: 10px;
  margin: 10px;
  overflow-x: auto;
  max-width: 100%;

  border-radius: 10px;
  box-shadow: inset -2px -3px 13px 10px var(--inverse-background);
  background-color: var(--background);
  img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
    cursor: pointer;
    &:hover {
      transform: scale(1.05);
      transition: all 0.2s ease-in-out;
    }
  }
}

.commentFoot {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  margin: auto;
  width: 80%;
  .likeIcon{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: var(--inverse-background);
    padding: 0 5px;
    font-size: 1.5rem;
    cursor: pointer;
    &:hover {
      color: var(--accent);
      transform: scale(1.1);
    }
    &.liked {
      transform: scale(1.2);
      transition: all 0.2s ease-in-out;
      color: red;
    }
    .likeCount{
      padding: 5px;
      margin: 1px;
      font-size: 1.25rem;
    }
  }
  .commentIcon{
    color: var(--inverse-background);
    padding: 0 5px;
    font-size: 1.5rem;
    cursor: pointer;
    &:hover {
      color: var(--accent);
      transform: scale(1.1);
    }
  }
  .shareIcon{
    color: var(--inverse-background);
    padding: 0 5px;
    font-size: 1.5rem;
    cursor: pointer;
    &:hover {
      color: var(--accent);
      transform: scale(1.1);
    }
  }
}

.solo {
  text-align: center;
  color: #9b2222;
  margin: 1rem 0;
}