.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: auto;
  width: 100%;
  background-color: var(--background);
}
.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: var(--text);
  box-shadow: -3px 8px 20px 0px var(--accent);
  padding: 5px 20px 5px 20px;
  border-radius: 10px;
  margin: 5px 5px 50px 5px;
}
.cardImage{
    img{
    min-width: 500px;
    min-height: 300px;
    border-radius: 10px;
    padding: 5px;
    margin: 2px;
  }
}
.address{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 5px 0 0;
  margin: 0 5px 0 0;
  font-size: 1rem;
}
 img.mapIcon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 30px;
  max-height: 30px;
  padding: 5px 0;
  margin: 5px 0;
  border-radius: 50%;
}
.cardHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5px;
  margin: 5px;
}
.cardBody {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 5px 0;
  margin: 0 0 5px 0;
}
.cardFooter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  margin: 5px;
  .likeIcon{
    color: var(--inverse-background);
    padding: 0 5px;
    font-size: 1.5rem;
    cursor: pointer;
    &:hover {
      color: var(--accent);
      transform: scale(1.1);
    }
    &.liked {
      transform: scale(1.2);
      transition: all 0.2s ease-in-out;
      color: red;
    }
  }
  .commentIcon{
    color: var(--inverse-background);
    padding: 0 5px;
    font-size: 1.5rem;
    cursor: pointer;
    &:hover {
      color: var(--accent);
      transform: scale(1.1);
    }
  }
  .shareIcon{
    color: var(--inverse-background);
    padding: 0 5px;
    font-size: 1.5rem;
    cursor: pointer;
    &:hover {
      color: var(--accent);
      transform: scale(1.1);
    }
  }
}

.post {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  color: var(--text);
  padding: 0px 5px;
  border-radius: 10px;
  margin: 0px 5px;
  h2{
    padding: 0px;
    margin: 0px;
    font-weight: bold;
  }
  h4{
    padding: 5px;
    font-size: 15px;
  }
  p {
    padding: 5px;
    font-size: 1rem;
  }

}
img{
  max-width: 500px;
  max-height: 500px;
}
.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.459);
  backdrop-filter: blur(15px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.popupBody {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: var(--background);
  border-radius: 20px 100px 20px 100px;
  padding: 35px;
  max-width: 60%;
  width: 100%;
}
.popupBoxBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--background);
  border-radius: 12px;
  padding: 35px;
  max-width: 90%;
  width: 100%;
}
.textarea{
  width: 100%;
  height: 100px;
  padding: 40px;
  border-radius: 20px 100px 20px 100px;
  border: 1px solid var(--accent);
  background-color: var(--background);
  color: var(--text);
  font-size: 1.5rem;
  resize:vertical;
  &:focus {
    outline: none;
    border-color: var(--accent);
    box-shadow: inset 0px 0px 19px 3px var(--inverse-background);
    &::placeholder {
      color: var(--text);
      opacity: 1;
    }
  }
  &::placeholder {
    opacity: 0.3;
  }
}
.popupBoxFooter{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 50px;

  button {
    padding: 10px 20px;
    border-radius: 200px 100px 200px 1000px;
    border: none;
    background-color: var(--accent);
    color: var(--inverse-background);
    font-size: 1.2rem;
    cursor: pointer;
    &:hover {
      background-color: var(--inverse-background);
      color: var(--background);
      transform: scale(1.1);
      transition: all 0.3s ease-in-out;
    }
  }
}